.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .form{
        display: flex;
        flex-direction: column;
        gap: 10px;
        div{
            display: flex;
            flex-direction: column;
            gap:5px
            input{
                padding: 5px;
                border:1px solid grey
            }
        }
        .error{
            color:red;
            font-weight: 500;
        }
        
        .navs{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        button{
            padding:5px;
            background-color: burlywood;
            border: none;
        }
        span{
            cursor: pointer;
            border-bottom: 2px solid transparent;
            padding-bottom: 5px;
            font-size: 15px;
            font-weight: 500;
            &:hover{
            border-color: blue;

            }
        }
    }
    }
}